@media only screen and (max-width: 1220px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.dropdown_title {
	    padding: 0 20px 0 0;
	    background-position: right 8px;
	}

	.dropdown_title p {
	    font-size: 18px;
	    line-height: 23px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo-article .img-box:before {
	    width: 405px;
	    height: 405px;
	}

	.promo-article .img-box img {
	    left: 53%;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Footer --*/

	.footer {
	    background-color: #ffffff;
	    padding: 30px 2% 10px 2%;
	}

	.footer .row {
		padding-left: 0;
		padding-right: 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Header --*/

	.main-nav_wrapp {
	    padding: 0 5px;
	}

	.main-nav li {
	    padding: 10px 17px;
	}

	.header .main-nav li a {
	    font-size: 20px;
	    line-height: 20px;
	}

	.dropdown_list p {
	    font-size: 15px;
	    line-height: 23px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Dashboard Page --*/

	.table .table-cell:nth-child(1) {
	    width: 180px;
	    padding-left: 10px;
	}

	.table .table-cell:nth-child(3) {
	    width: 105px;
	}

	.table .table-cell:nth-child(4) {
	    width: 125px;
	    padding-right: 10px;
	}

	/*-- /Section 1 - Dashboard Page --*/

	/*-- Section 2 - PS add money --*/

	.two-cols_templ_3 {
	    display: block;
	}

	.two-cols_templ_3 .cell-left {
		display: block;
	    width: 100%;
	    padding: 10px 0;
	}

	.two-cols_templ_3 .cell-right {
		display: block;
	    width: 100%;
	    padding: 10px 0;
	}

	.steps_title {
		padding-left: 12px;
		padding-right: 12px;
		padding: 19px 12px 19px 12px;
	}

	.steps_title .bg {
		display: none;
	}

	.form_wrapp_2 {
	    padding: 0px;
	}

	/*-- /Section 2 - PS add money --*/

	/*-- Footer --*/

	.main-nav_footer {
	    margin: 9px -17px 6px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Header --*/

	.dropdown_title p {
	    font-size: 17px;
	    line-height: 20px;
	}

	/*-- /Header --*/

	/*-- Section 2 - Main Page --*/

	.thumb-1 {
	    width: 48%;
	}

	/*-- /Section 2 - Main Page --*/

}

@media only screen and (max-width: 900px) {

	h1 {
	    font-size: 33px;
	    line-height: 46px;
	}

	/*-- Header --*/

	.header {
	    padding: 6px 0 0px 0;
	    background-color: #063d86;
	}

	.header.js-scroll {
	    background-color: #063d86;
	}

	.header_2 {
	    background-color: #17b9e5;
	}

	.header_2.js-scroll {
	    background-color: #17b9e5;
	}

	.header_3 {
	    background-color: #c32931;
	}

	.header_3.js-scroll {
	    background-color: #c32931;
	}

	.header_4 {
	    background-color: #107c10;
	}

	.header_4.js-scroll {
	    background-color: #107c10;
	}

	.header.js-scroll .left {
	    width: 60%;
	}

	.header.js-scroll .left {
	    padding-bottom: 7px;
	}

	.header .right {
	    width: 40%;
	}

	.header .logo {
		display: none;
	}

	.header .logo_resp {
		display: inline-block;
		vertical-align: top;
		position: relative;
		z-index: 12;
	}

	.main-nav_wrapp_header {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 50px 2% 70px 2%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		background: rgba(6, 61, 134, .95);
	}

	.header_2 .main-nav_wrapp_header {
		background: rgba(23, 185, 229, .95);
	}

	.header_3 .main-nav_wrapp_header {
		background: rgba(195, 41, 49, .95);
	}

	.header_4 .main-nav_wrapp_header {
		background: rgba(16, 124, 16, .95);
	}

	.main-nav_top {
		margin: 0;
		padding: 0;
	}

	.main-nav_top li {
		display: block;
		width: 100%;
		padding: 10px 0;
	}

	.main-nav_top li a {
		display: inline-block;
		vertical-align: top;
		text-align: center;
		font-size: 23px;
		line-height: 23px;
		font-weight: bold;
		color: #ffffff;
		border-bottom: 1px solid transparent;
		-webkit-transition-property: border-bottom;
		-webkit-transition-duration: .3s;
		-webkit-transition-timing-function: ease;

		-moz-transition-property: border-bottom;
		-moz-transition-duration: .3s;
		-moz-transition-timing-function: ease;

		-ms-transition-property: border-bottom;
		-ms-transition-duration: .3s;
		-ms-transition-timing-function: ease;

		-o-transition-property: border-bottom;
		-o-transition-duration: .3s;
		-o-transition-timing-function: ease;

		transition-property: border-bottom;
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.main-nav_top li a:link,
	.main-nav_top li a:visited {
	    font-weight: 500;
	    color: #ffffff;
	    border-bottom: 1px solid transparent;
	}

	.main-nav_top li a:hover {
	    border-bottom: 1px solid #ffffff;
	}

	.main-nav_top li a:active,
	.main-nav_top li a.active {
		font-weight: bold;
	    color: #ffffff;
	    border-bottom: 1px solid #ffffff;
	}

	.main-nav_top li a.active:hover {
		font-weight: bold;
	    color: #ffffff;
	    border-bottom: 1px solid #ffffff;
	}

	.sign-in_wrapp_resp {
		display: block;
	}

	.sign-in_wrapp {
		display: none;
	}

	.respmenubtn {
		display: inline-block;
	}

	.main-nav_wrapp .dropdown_title {
	    background-image: url(img/dropdown_arrow_white.png);
	}

	.main-nav_wrapp .dropdown_title p {
	    color: #ffffff;
	}

	.main-nav_wrapp .dropdown_wrapp {
		display: inline-block;
		vertical-align: top;
		margin: 20px auto;
	}

	.main-nav_wrapp .dropdown_wrapp .dropdown_list {
		position: relative;
	}

	.dropdown_title p {
	    font-size: 22px;
	    line-height: 22px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo-article .description {
	    padding: 5px 0;
	}

	.promo-article .img-box {
	    min-height: 400px;
	}

	.promo-article .img-box:before {
	    width: 345px;
	    height: 345px;
	}

	.promo-article .img-box img {
	    left: 50%;
	}

	.promo-article .blue-pill {
		margin: 33px 0 20px 0;
	}

	.promo-article_4 .img-box img {
	    top: 105px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 1 - Dashboard Page -- */

	.two-cols_templ .left {
	    width: 100%;
	    float: none;
	    padding: 5px 0 0 0;
	}

	.two-cols_templ .right {
	    width: 100%;
	    float: none;
	    padding: 15px 0 0 0;
	}

	.count-box {
	    margin: 9px 0;
	}

	/*-- /Section 1 - Dashboard Page -- */

	/*-- Section 1 - PS add money -- */

	.two-cols_templ_3 .cell-right {
	    padding-top: 0;
	}

	.thumb_2 {
		margin: 10px 0;
		width: 50% !important;
	}

	/*-- /Section 1 - PS add money -- */

}

@media only screen and (max-width: 768px) {

	h1 {
	    font-size: 30px;
	    line-height: 42px;
	}

	.row {
		padding: 0 12px;
	}

	/*-- Section 1 - Main Page --*/

	.promo-article {
	    padding: 30px 0 13px 0;
	}

	.promo-article p {
	    padding: 8px 0;
	}

	.promo-article_3 .img-box img {
	    top: 195px;
	    left: 50%;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.section_2 {
	    padding: 60px 0;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.article h2 {
	    margin: 5px 0;
	    padding: 0 0 0 11px;
	    font-size: 36px;
	    line-height: 43px;
	}

	.article p {
	    padding: 10px 0;
	}

	.article .descript {
	    min-height: 398px;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Dashboard Page --*/

	.table .table-row {
		font-size: 0;
		line-height: 0;
	}

	.table .table-cell {
	    display: inline-block;
	    padding: 4px 10px 4px 10px;
	}

	.table .table-cell:nth-child(1) {
	    width: 35%;
	    padding-top: 15px;
	}

	.table .table-cell:nth-child(2) {
	    width: 65%;
	    padding-top: 15px;
	}

	.table .table-cell:nth-child(3) {
	    width: 35%;
	    padding-bottom: 16px;
	}

	.table .table-cell:nth-child(4) {
	    width: 65%;
	    padding-bottom: 16px;
	}

	/*-- /Section 1 - Dashboard Page --*/

	/*-- Section 1 - PS add money --*/

	.sect_1_2 .row {
		padding-left: 0;
		padding-right: 0;
	}

	.two-cols_templ_2 {
	    padding: 0 0 15px 0;
	}

	.two-cols_templ_2 .right {
	    width: 100%;
	    float: none;
	    padding: 0;
	}

	.two-cols_templ_2 .left {
	    width: 100%;
	    float: none;
	    padding: 2px 12px 10px 12px;
	}

	.two-cols_templ_2 .img-box {
	    height: 250px;
	}

	.controls {
	    padding: 8px 12px;
	}

	.two-cols_templ_2 h1 {
	    max-width: 100%;
	    padding: 10px 0;
	}

	.two-cols_templ_2 p {
	    padding: 10px 0;
	}

	.scroll-down_btn {
	    display: none;
	}

	/*-- /Section 1 - PS add money --*/

	/*-- Section 2 - PS add money --*/

	.thumbnails_2 {
	    margin-bottom: 0;
	}

	.two-cols_templ_3 .cell-right {
	    padding-bottom: 10px 0 0 0;
	}

	.steps_title h2 {
	    font-size: 27px;
	    line-height: 38px;
	}

	/*-- /Section 2 - PS add money --*/

	/*-- Footer --*/

	.footer {
	    background-color: #ffffff;
	    padding: 68px 12px 10px 12px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	h2 {
	    font-size: 27px;
	    line-height: 33px;
	}

	/*-- Header --*/

	.dropdown_title p {
	    font-size: 18px;
	    line-height: 18px;
	}

	/*-- /Header --*/

	/*-- Section 1 - Main Page --*/

	.promo-article .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.promo-article .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.promo-article h1 {
	    padding-top: 2px;
	}

	.promo-article .img-box {
	    min-height: 281px;
	}

	.promo-article .img-box:before {
		width: 290px;
		height: 290px;
	    left: 50%;
	    -webkit-transform: translate(-50%, 0);
	    -moz-transform: translate(-50%, 0);
	    transform: translate(-50%, 0);
	}

	.promo-article .img-box img {
	    max-width: 100%;
	    max-height: 265px;
	}

	.promo-article_3 .img-box img {
	    top: 42px;
	}

	.promo-article_4 .img-box img {
	    top: 32px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 3 - Main Page --*/

	.article .row {
		padding-left: 0;
		padding-right: 0;
	}

	.article .img-box {
	    width: 100%;
	    height: 250px;
	    position: relative;
	}

	.article .descript {
		width: 100%;
	    min-height: auto;
	    float: none;
	    padding: 39px 11px 32px 11px;
	}

	.article:nth-child(even) .descript {
	    float: none;
	    padding: 36px 11px 30px 11px;
	}

	.article .descript:before {
		width: 0;
		height: 0;
		top: -24px;
		left: 11px;
		right: 0;
		border-style: solid;
		border-width: 0 24px 24px 24px;
		border-color: transparent transparent #333333 transparent;
	}

	.article:nth-child(even) .descript:before {
	    width: 0;
		height: 0;
		top: -24px;
		left: 11px;
		right: 0;
		border-style: solid;
		border-width: 0 24px 24px 24px;
		border-color: transparent transparent #cccccc transparent;
	}

	/*-- /Section 3 - Main Page --*/

	/*-- Section 1 - Dashboard Page --*/

	.table .table-cell:nth-child(1) {
	    width: 44%;
	}

	.table .table-cell:nth-child(2) {
	    width: 56%;
	}

	.table .table-cell:nth-child(3) {
	    width: 44%;
	}

	.table .table-cell:nth-child(4) {
	    width: 56%;
	}

	/*-- /Section 1 - Dashboard Page --*/

	/*-- Section 2 - PS add money --*/

	.thumb_2 {
	    width: 100% !important;
	}

	.form_wrapp_2 .input_wrapp {
	    width: 100%;
	    padding: 0;
	}

	.form_wrapp_2 .input_wrapp:nth-child(even) {
	    padding: 0;
	}

	/*-- /Section 2 - PS add money --*/

	/*-- Footer --*/

	.footer .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0 1px 0;
	    text-align: center;
	}

	.footer .right {
	    width: 100%;
	    float: none;
	    padding: 1px 0 10px 0;
	    text-align: center;
	}

	.main-nav_footer {
		margin: 9px -4px 6px -4px;
	}

	.main-nav_footer li {
	    padding: 10px 4px;
	}

	.main-nav_footer li a {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	p {
	    font-size: 16px;
	    line-height: 20px;
	}

	/*-- Section 1 - Main Page --*/

	.promo-article .img-box:before {
	    width: 277px;
	    height: 277px;
	}

	.promo-article_3 .img-box img {
	    top: 81px;
	}

	/*-- /Section 1 - Main Page --*/

	/*-- Section 2 - Main Page --*/

	.thumbnails-1 {
	    margin: 0;
	}

	.thumb-1 {
	    width: 100%;
	    margin: 5px 0;
	}

	/*-- /Section 2 - Main Page --*/

	/*-- Section 1 - Dashboard Page --*/

	.table .table-cell:nth-child(1) {
	    width: 100%;
	    text-align: center;
	}

	.table .table-cell:nth-child(2) {
	    width: 100%;
	    text-align: center;
	    padding-top: 4px;
	}

	.table .table-cell:nth-child(3) {
	    width: 50%;
	    text-align: right;
	}

	.table .table-cell:nth-child(4) {
	    width: 50%;
	    text-align: left;
	}

	/*-- /Section 1 - Dashboard Page --*/

	/*-- Section 1 - PS add money --*/

	.controls a {
		font-size: 15px !important;
		line-height: 21px !important;
	}

	/*-- /Section 1 - PS add money --*/
	
}

@media only screen and (max-width: 350px) {

	.promo-article_4 .img-box img {
	    top: 89px;
	}

}

@media only screen and (min-width: 901px) {

	.main-nav_wrapp_header {
		display: inline-block !important;
	}

}